* {
    margin: 0;
    padding: 0;
  }
body{
   
   font-family: 'Roboto', sans-serif;
}

header{
    padding: 1em 13em;
    background-image: linear-gradient(to top, #4499ce 0%, #e2ebf0 100%);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.nav ul{
    font-weight: 600;
    list-style-type: none;
    display: flex;
    gap:2.0em;
    align-items: baseline;
}
#logo{
    font-size: 24px;
    font-weight: 900;
  color: #000305;
}

.introduction{
    padding:8em 0;
    
    
}

.introduction-image{
    width: 200px;
    height: 120px;
}
.introduction h1{
    font-size: 50px;
}
.introduction p{
    padding-top: 1.5em;
    font-weight: 700;
}

